body {
    background-color: grey;
    margin: 0px;
}

form {
    position: relative;
    left: 30%;
    top: 5em;
    border: 2px solid black;
    width: 28%;
    padding: 20px;
    background-color: cornflowerblue;
    margin-bottom: 20em;
    font-size: x-large;
}

input {
    width: 400px;
    height: 25px;
    font-size: x-large;
    
}