body{
    background-color: rgb(10, 203, 242);
}

button{
    display: block;
    position: relative;
    left: 40%;
    top: 5em;
    padding: 20px 60px;
    margin: 50px;
    background-color: rgb(5, 139, 0);
    border: 0px;
    border-radius: 50px;

}
button:hover{
    background-color: blue;
}